.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 100px;
  text-align: center;
}

.label:not(:last-child) {
  margin-bottom: 20px;
}

.input {
  height: 20px;
  width: 300px;
  margin-left: 20px;
}
